*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --grey: #f2f2f2;
    --dark: #191a19;
    --white: #ffffff;
    --feat: #EA0300;
    --black: #000000;

    --b-shadow-xs: 0px 3px 9px -4px rgba(0,0,0,0.21);
    --b-shadow-s: 0px 3px 18px -4px rgba(0,0,0,0.24);


    --background: #191A19;
    --softwhite: #f2f2f2;
    --pink: #fc93ad;
    --offwhite: #fafafa;
    --lightgrey: #fefdfb;
    --darkgrey: #191a19;
    --grey:#dbdbdb;
    --red: #f83735;


}

body {
    background-color: var(--offwhite);
}

input {
    outline: 1px solid var(--grey);
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    accent-color: var(--background);
    display: block;
}

input:active {
    border: none;
    outline: none;
}
