*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background: #191A19;
    --softwhite: #f2f2f2;
    --pink: #fc93ad;
    --offwhite: #fafafa;
    --lightgrey: #fefdfb;
    --darkgrey: #191a19;
    --grey:#dbdbdb;


}

body {
    background-color: #fbfbfb;
}
