.loginWrapper {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerImg {
    display: flex;
    justify-content: center;
    height: auto;
}
.logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    animation: pulse 1.5s ease-in-out infinite both;
}

@keyframes pulse {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

.loginarea {
    background-color: var(--background);
    display: inline-block;
}

.user-name, .user-pass  {
    display: inline-block;
}

.user-name input, .user-pass input {
    cursor: text;
    padding: 5px 0;
    color: var(--softwhite);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--softwhite);
    outline: none;
    background: transparent;
}
.user-name input:hover, .user-pass input:hover {
    border-bottom: 1px solid var(--pink);
}

.user-name label, .user-pass label {
    display: none;
}

.loginBtn {
    display: flex;
    margin: 0 auto;
    padding: 5px 15px;
    border: 1px solid var(--softwhite);
    border-radius: 2px;
    background-color: var(--background);
    color: var(--softwhite);
    transition: 250ms;
    transition-timing-function: ease-in-out;
}

.loginBtn:hover {
    background-color: var(--softwhite);
    color: var(--background);
    border: 1px solid var(--background);
}

.submit {
    background-color: var(--background);
    color: var(--softwhite);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}


/* PAIN FORM */

.formWrapper {
    background-color: white;
    box-shadow: 0px 2px 16px -10px rgba(0,0,0,0.88);
    border-radius: 10px;
    color: var(--darkgrey);
    height: 90vh;
    width: 600px;
    max-width: 90%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin: 60px 20px 40px 20px;*/
}

.painDate, .painState, .painLevel, .painType, .painKillers, .painNotes {
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.painNotes label {
    display: block;
}


textarea {
    resize: none;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 4px;
    border-color: var(--grey);
    outline: none;
}

.painDate input, .painDuration input {
    outline: 1px solid var(--grey);
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    display: block;
}
input:focus {
    outline: 1px solid var(--background);
    border: none;
}

.painState input[type="radio"] {
    accent-color: var(--background);
}

