/* PORTFOLIO */
.frontpageWrapper {
  padding: 1em;
  max-width: 45rem;
  margin-inline: auto;
  padding-top: 100px;
}

.splashContent {
  min-height: calc(35vh);
}

.connectWrapper {
  padding-top: 50px;
  padding-bottom: 40px;
}

.links {
  border: 1px solid var(--grey);
  color: var(--black);
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.links:hover {
  border: 1px solid var(--black);
  color: var(--feat);
  transition: 500ms;
}

.icons {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
  color: pink;
}

.social {
  display: inline-block;
}

.socialIcons {
  height: 30px;
  width: 30px;
  margin: 15px 10px 0px 0px;
  transition: 250ms ease-in-out;
}

.socialIcons:hover {
  transform: translateY(0.2em);
}

/* HEARTBEAT LOGIN */
.loginWrapper {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centerLogo {
  display: flex;
  justify-content: center;
  height: auto;
}
.logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  animation: pulse 1.5s ease-in-out infinite both;
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.loginarea {
  background-color: var(--white);
  display: inline-block;
}

.user-name,
.user-pass {
  display: inline-block;
}

.user-name input,
.user-pass input {
  cursor: text;
  padding: 5px 0;
  color: var(--dark);
  margin-bottom: 30px;
  border: none;
  border-bottom: 0.5px solid var(--grey);
  border-radius: 0;
  outline: none;
  background: transparent;
}
.user-name input:hover,
.user-pass input:hover {
  border-bottom: 0.5px solid var(--black);
}

.user-name label,
.user-pass label {
  display: none;
}

/* HEARTBEAT // FORSIDE */
.forsideWrapper {
  background-color: var(--white);
  max-width: 45rem;
  margin-inline: auto;
  margin-top: 20px;
  padding-top: 100px;
  min-height: 90vh;
  border-radius: 10px;
  box-shadow: var(--b-shadow-xs);
}

.formContainer {
  text-align: left;
  padding: 30px;
}

.dataContainer {
  text-align: left;
  padding: 30px;
}

.cartWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* FORMS */
/* PAIN FORM */

.formWrapper {
  background-color: var(--white);
  box-shadow: var(--b-shadow-xs);
  border-radius: 10px;
  min-height: 90vh;
  width: 600px;
  max-width: 90%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.painDate,
.painState,
.painLevel,
.painType,
.painKillers,
.painDuration,
.painWorkout,
.painNotes,
.workoutDate,
.workoutCykel,
.workoutPulldown,
.workoutRygbøjning,
.workoutAbs,
.workoutBrystpres,
.workoutLegpress,
.workoutLegcurl,
.workoutLegextension,
.workoutBiceps,
.workoutButtups,
.workoutPullups,
.workoutLøb,
.workoutRyst,
.workoutMusik,
.workoutVandOgVægt,
.workoutBemærkning,
.dailyJob,
.dailyAktivitet,
.dailyAktivitetNotes {
  padding: 10px 0px 10px 0px;
  text-align: left;
}

.painNotes label,
.dailyAktivitetNotes label {
  display: block;
}

.painDate input,
.painDuration input {
  outline: 0.5px solid var(--grey-l);
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  display: block;
}
input:focus {
  border: none;
}

.painState input,
.painLevel input,
.painType input,
.painKillers input,
.painWorkout input,
.dailyJob input,
.dailyAktivitet input {
  display: inline-block;
}

textarea {
  resize: none;
  padding: 7px 10px;
  margin-top: 5px;
  border-radius: 4px;
  border-color: var(--grey-l);
  outline: none;
}

.painState input[type="radio"] {
  accent-color: var(--dark);
}

.workoutMusik input[type="radio"] {
  display: inline;
  margin-right: 3px;
}

.workoutBemærkning label {
  display: block;
}

/* DATA UDTRÆK */
.dataWrapper {
  background-color: var(--white);
  max-width: 45rem;
  margin-inline: auto;
  margin-top: 20px;
  padding-top: 100px;
  min-height: 90vh;
  border-radius: 10px;
  box-shadow: var(--b-shadow-xs);
}

.dataResultat {
  margin: 30px;
}


/*Single page udtræk*/

/* Style af knap som bliver brugt til at åbne og lukke content*/
.collapsible {
  border: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  background-color: white;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: var(--dark);
  /*margin-bottom: 10px;*/
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
}


/* Tilføjer baggrundsfarve til knappen +/- bliver loaded med JS */
.active {
  outline: none;
  color: var(--dark);
  border: none;
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
  border-top: 1px solid var(--dark);
}

/* Style af det samklaplige indhold. Collapsed som standard */
.content {
  border: none;
  outline: none;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" tegn (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" tegn (-) */
}

.rowData {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.dataCell {
  text-align: right;
  padding-left: 60px;
}

.dataNotes {
  text-align: left;
  max-width: 40ch;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dataWorkouts {
  text-align: left;
  padding-top: 3px;
}

td.dataWorkouts {
  display: inline-block;
  margin-right: 30px;
}


/* BUTTONS & CARTS */

.loginBtn {
  display: flex;
  margin: 0 auto;
  padding: 5px 15px;
  border: 1px solid var(--white);
  border-radius: 2px;
  background-color: var(--black);
  color: var(--grey);
  transition: 250ms;
  transition-timing-function: ease-in-out;
  font-family: "Mulish" sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.loginBtn:hover {
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--white);
}

.formBtn {
  background-color: var(--white);
  box-shadow: var(--b-shadow-xs);
  color: var(--dark);

  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  max-width: 250px;
  max-height: 150px;
  min-height: 100px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
  margin-right: 50px;
  font-weight: 1000;
}

.formBtn:hover {
  box-shadow: var(--b-shadow-s);
  transition: 300ms ease-in-out;
}

.submit {
  background-color: var(--feat);
  color: var(--grey);
  border: none;
  border-radius: 3px;
  padding: 15px 30px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.signOut {
  background-color: var(--dark);
  color: var(--grey);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.signOut:hover {
  background-color: var(--white);
  color: var(--dark);
  border: 1px solid var(--dark);
  transition: 200ms linear;
}

/* Cart -> viser datapoints*/
.cart-xs {
  background-color: var(--white);
  box-shadow: var(--b-shadow-xs);
  color: var(--dark);

  border: none;
  max-width: 250px;
  max-height: 150px;
  min-height: 100px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
  margin-right: 50px;
}

.cart-xs:hover {
  box-shadow: var(--b-shadow-s);
  transition: 300ms ease-in-out;
}

.cart-s {
  background-color: var(--white);
  box-shadow: var(--b-shadow-xs);
  color: var(--dark);

  border: none;
  width: 300px;
  max-height: 150px;
  min-height: 100px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  margin-right: 50px;
}

/* Cart header navn*/
.cartheader {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: none;
}

/* Cart anchor/button */
.cartBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

/* Cart datapoint */
.cartNumber {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: normal;
  align-items: center;
  margin-top: 15px;
  margin-left: 25px;
  font-size: 2.3em;
  color: var(--dark);
}


.dataNumber {
  font-size: 1em;
  text-decoration: none;
  text-align: left;
  text-decoration-line: none;
  margin-top: 3px;
}

.dataNumberText {
  text-decoration: none;
  margin-bottom: 2px;
}

/* SUCCESS */
.success-wrapper {
  background-color: var(--grey);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*SUCCESS ANIMATION */
.success-checkmark {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: var(--grey);
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: var(--grey);
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
