h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    line-height: 0.3em;
}

h2 {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    color: var(--offwhite);
}

h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    display: inline-block;
}

.projectName {
    border-bottom: 5px solid var(--red);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
}

label {
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
}

/* LOGIN HEADER */
.header {
    text-transform: uppercase;
    text-align: center;
    color: var(--softwhite);
    letter-spacing: 5px;
    font-size: 16px;
    padding-bottom: 40px;
    font-weight: 1000;
}

.user-name input, .user-pass input {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color: var(--softwhite);
}

.user-name input::after, .user-pass input::after {
    background-color: pink;
    color: var(--softwhite);
}

.user-name input::placeholder, .user-pass input::placeholder {
    text-transform: uppercase;
    text-align: center;
}

.loginBtn {
    font-family: 'PT Serif', serif;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}