h1, h2, h3, h4, h5, h6, p, label, a {
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-weight: 1000;
    text-transform: uppercase;
    /*letter-spacing: -0.06em;
    line-height: 0.3em;*/
}

h2 {
    text-transform: uppercase;
    color: var(--dark);
}

h3 {
    font-weight: 1000;
    text-transform: uppercase;
    display: inline-block;
}

p {
    font-weight: 200;
}

label {
    font-size: 0.9rem;
}

.projects {
    margin-top: 20px;
}
.projectName {
    border-bottom: 5px solid var(--feat);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
}

.headerText {
    color: var(--dark);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: clamp(36px, 8vw, 75px);
    padding-bottom: 40px;
    font-weight: 1000;
    font-family: system-ui;
}

.formHeader {
    color: var(--dark);
}

/* LOGIN HEADER */
.header {
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    letter-spacing: 5px;
    font-size: 16px;
    padding-bottom: 40px;
    font-weight: 1000;
}

.user-name input, .user-pass input {
    font-size: 12px;
    color: var(--dark);
}

.user-name input::after, .user-pass input::after {
    background-color: var(--feat);
    color: var(--white);
}

.user-name input::placeholder, .user-pass input::placeholder {
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}